body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 16px; }

p {
  margin-bottom: 0; }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.title {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 0;
  font-size: 2rem;
  color: #333333; }

.flex-custom {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-custom {
  padding: 20px 30px;
  border: 2px solid #cccccc;
  color: #333333;
  margin: 0;
  border-radius: 3px; }

.font-custom {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.3px;
  font-weight: 600; }

.site-header .navbar {
  padding: 0; }
  .site-header .navbar .custom-navbar-brand {
    margin: 1.5rem 0; }
  .site-header .navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(234, 98, 61)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .site-header .navbar .custom-navbar {
    justify-content: flex-end; }
    .site-header .navbar .custom-navbar ul {
      align-items: center;
      text-transform: uppercase; }
      .site-header .navbar .custom-navbar ul a {
        color: #666666;
        font-weight: 600;
        font-size: 13px;
        padding-right: 1rem;
        padding-left: 1rem; }
        .site-header .navbar .custom-navbar ul a:hover {
          color: #333333; }
      .site-header .navbar .custom-navbar ul .active {
        color: #333333; }
      .site-header .navbar .custom-navbar ul .fas {
        color: #666666; }
        .site-header .navbar .custom-navbar ul .fas:hover {
          color: #333333;
          cursor: pointer; }

.site-header .breadcrumbs-wrapper {
  background-color: #453951; }
  .site-header .breadcrumbs-wrapper #breadcrumbs-custom .title {
    color: #ffffff;
    margin-top: 2.25rem;
    margin-bottom: 2.5rem; }
  .site-header .breadcrumbs-wrapper #breadcrumbs-custom .breadcrumb-custom {
    margin-bottom: 0;
    padding-right: 0;
    background-color: unset; }
    .site-header .breadcrumbs-wrapper #breadcrumbs-custom .breadcrumb-custom .breadcrumb-item {
      color: #ffffff;
      font-size: 13px;
      padding-left: 0.25rem; }
    .site-header .breadcrumbs-wrapper #breadcrumbs-custom .breadcrumb-custom .breadcrumb-item + .active {
      color: rgba(255, 255, 255, 0.4); }
      .site-header .breadcrumbs-wrapper #breadcrumbs-custom .breadcrumb-custom .breadcrumb-item + .active:before {
        color: rgba(255, 255, 255, 0.4);
        padding-right: 0.25rem; }

.board-wrapper {
  padding-top: 3.5rem;
  padding-bottom: calc(3.5rem - 2.25rem); }
  .board-wrapper .board {
    align-items: flex-start; }
    .board-wrapper .board-image {
      width: 100%;
      max-width: 570px; }
      .board-wrapper .board-image img {
        width: 100%;
        height: auto; }
    .board-wrapper .board-text {
      width: 100%;
      max-width: 570px; }
      .board-wrapper .board-text .title {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 1.5rem; }
      .board-wrapper .board-text p {
        font-size: 0.875rem;
        color: #666666;
        line-height: 1.57; }

.media-wrapper {
  padding-top: 3.5rem;
  padding-bottom: calc(3.5rem - 2.125rem);
  margin-top: 3.5rem;
  background-color: #f5f5f5; }
  .media-wrapper .media-custom {
    flex-direction: column; }
    .media-wrapper .media-custom .media-description {
      text-align: center;
      width: 100%;
      max-width: 735px;
      flex-direction: column; }
      .media-wrapper .media-custom .media-description span {
        color: #999999; }
      .media-wrapper .media-custom .media-description h2 {
        margin-top: 1.875rem; }
      .media-wrapper .media-custom .media-description p {
        margin-top: 1.375rem;
        font-size: 1.125rem;
        color: #666666;
        line-height: 1.67; }
    .media-wrapper .media-custom .media-content {
      margin-top: 4.25rem;
      flex-wrap: wrap; }
      .media-wrapper .media-custom .media-content .media {
        width: 100%;
        max-width: 364px;
        margin-bottom: 2.875rem; }
        .media-wrapper .media-custom .media-content .media .icon-wrapper {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #ea623d;
          margin-right: 20px;
          justify-content: center; }
          .media-wrapper .media-custom .media-content .media .icon-wrapper .fa-solid {
            color: #ffffff; }
        .media-wrapper .media-custom .media-content .media .media-body .title {
          font-size: 1.125rem;
          font-weight: 600;
          margin-bottom: 10px; }
        .media-wrapper .media-custom .media-content .media .media-body p {
          font-size: 13px;
          color: #666666; }

.purchase-wrapper {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }
  .purchase-wrapper .purchase {
    justify-content: center;
    gap: 3.125rem; }
    .purchase-wrapper .purchase p {
      font-size: 1.25rem;
      color: #333333; }

.site-footer .follow-us-wrapper {
  background-color: #453951;
  padding-top: calc(3.5rem - 2.25rem);
  padding-bottom: calc(3.5rem - 2.25rem); }
  .site-footer .follow-us-wrapper p {
    color: rgba(255, 255, 255, 0.4); }
  .site-footer .follow-us-wrapper .follow-us .social-media {
    justify-content: flex-start;
    gap: 1.875rem; }
    .site-footer .follow-us-wrapper .follow-us .social-media .social-media-icons {
      justify-content: flex-start;
      gap: 1rem; }
      .site-footer .follow-us-wrapper .follow-us .social-media .social-media-icons .social-media-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; }
        .site-footer .follow-us-wrapper .follow-us .social-media .social-media-icons .social-media-icon .fa-brands {
          color: #ffffff; }
  .site-footer .follow-us-wrapper .follow-us .newsletter {
    justify-content: flex-end;
    gap: 1.875rem; }
    .site-footer .follow-us-wrapper .follow-us .newsletter-form {
      justify-content: flex-end;
      gap: 0.625rem; }
      .site-footer .follow-us-wrapper .follow-us .newsletter-form input {
        width: 100%;
        max-width: 254px;
        border: solid 2px rgba(255, 255, 255, 0.4);
        background-color: transparent;
        border-radius: 3px;
        padding: 10px 15px;
        color: rgba(255, 255, 255, 0.4); }
      .site-footer .follow-us-wrapper .follow-us .newsletter-form .btn-custom {
        padding: 15px 19px;
        background-color: #ea623d;
        color: #ffffff;
        border: none; }

.site-footer .data-wrapper {
  background-color: #2a272e;
  padding-top: 3.5rem;
  padding-bottom: calc(3.5rem + 2rem); }
  .site-footer .data-wrapper .data {
    align-items: flex-start;
    gap: 2rem; }
    .site-footer .data-wrapper .data .footer_col {
      flex-grow: 1;
      flex-basis: 0; }
      .site-footer .data-wrapper .data .footer_col h4 {
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 1.875rem; }
      .site-footer .data-wrapper .data .footer_col a {
        color: #ea623d;
        text-decoration: none; }
      .site-footer .data-wrapper .data .footer_col p {
        font-size: 0.875rem;
        line-height: 1.57;
        color: #cccccc; }
      .site-footer .data-wrapper .data .footer_col:first-child {
        opacity: 0.2;
        color: #ffffff; }
        .site-footer .data-wrapper .data .footer_col:first-child img {
          margin-bottom: 1.875rem; }
        .site-footer .data-wrapper .data .footer_col:first-child p {
          color: #ffffff;
          line-height: 2.14; }
      .site-footer .data-wrapper .data .footer_col .tweet-date {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 2.09;
        letter-spacing: 1.1px;
        color: #545158; }
    .site-footer .data-wrapper .data .footer_col + address a {
      font-size: 1.275rem;
      font-weight: 600; }
    .site-footer .data-wrapper .data .footer_col + address p:first-of-type {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .site-footer .data-wrapper .data .photostream-container {
      justify-content: flex-start;
      gap: 15px; }

@media (max-width: 1199.98px) {
  .container,
  .navbar-wrapper,
  .breadcrumbs-wrapper,
  .board-wrapper,
  .media-wrapper,
  .purchase-wrapper,
  .follow-us-wrapper,
  .data-wrapper {
    padding-right: 15px;
    padding-left: 15px; }
  .board-wrapper .board {
    flex-direction: column;
    align-items: center; }
    .board-wrapper .board-image {
      margin-bottom: 1.5rem; }
    .board-wrapper .board-text {
      text-align: center; }
  .media-wrapper .media-custom .media-content .media {
    max-width: 300px; } }

@media (max-width: 991.98px) {
  .site-footer .follow-us-wrapper .follow-us {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem; } }

@media (max-width: 767.98px) {
  .media-wrapper .media-custom .media-content {
    justify-content: center; }
    .media-wrapper .media-custom .media-content .media {
      max-width: 364px; }
  .site-footer .follow-us-wrapper .follow-us .social-media {
    flex-direction: column;
    gap: 1.5rem; }
  .site-footer .follow-us-wrapper .newsletter {
    flex-direction: column;
    gap: 1.5rem; } }
