$mainBgColor: #ffffff;
$secondBgColor: #f5f5f5;

$firstAddedColor: #453951;
$secondAddedColor: #2a272e;
$thirdAddedColor: #ea623d;

$titleColor: #333333;
$textColor: #666666;
$secondTextColor: #ffffff;

$breadcrumb-divider: quote('/');

$headerFontSize: 13px;
$fontRegular: 400;
$fontBold: 600;

$iconColor: #ffffff;

$sectionPadding: 3.5rem;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $mainBgColor;
  font-size: 16px;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.title {
  display: inline-block;
  line-height: 1;
  font-weight: $fontRegular;
  letter-spacing: normal;
  margin-bottom: 0;
  font-size: 2rem;
  color: $titleColor;
}

.flex-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-custom {
  padding: 20px 30px;
  border: 2px solid #cccccc;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: $fontBold;
  color: $titleColor;
  font-size: $headerFontSize;
  margin: 0;
  border-radius: 3px;
}

.site-header {
  #custom-navbar {
    padding: 0;

    .custom-navbar-brand {
      margin: 1.5rem 0;
    }
    ul {
      align-items: center;
      text-transform: uppercase;
      a {
        color: $textColor;
        font-weight: $fontBold;
        font-size: $headerFontSize;
        padding-right: 1rem;
        padding-left: 1rem;

        &:hover {
          color: $titleColor;
        }
      }
      .active {
        color: $titleColor;
      }
      .fas {
        padding-left: 1rem;
        color: $textColor;

        &:hover {
          color: $titleColor;
          cursor: pointer;
        }
      }
    }
  }
  .breadcrumbs-wrapper {
    background-color: $firstAddedColor;

    #breadcrumbs-custom {
      .title {
        color: $secondTextColor;
        margin-top: 2.25rem;
        margin-bottom: 2.5rem;
      }
      .breadcrumb-custom {
        margin-bottom: 0;
        padding-right: 0;
        background-color: unset;

        .breadcrumb-item {
          color: $secondTextColor;
          font-size: $headerFontSize;
          padding-left: 0.25rem;
        }
        .breadcrumb-item + .active {
          color: $secondTextColor;
          opacity: 0.4;

          &:before {
            color: $secondTextColor;
            padding-right: 0.25rem;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
.board-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: 1.25rem;

  .board {
    align-items: flex-start;

    &-image {
      width: 100%;
      max-width: 570px;

      img {
        width: 100%;
        height: auto;
      }
    }
    &-text {
      width: 100%;
      max-width: 570px;

      .title {
        font-size: 1.125rem;
        font-weight: $fontBold;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 0.875rem;
        color: $textColor;
        line-height: 1.57;
      }
    }
  }
}
.media-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: 1.375rem;
  margin-top: $sectionPadding;
  background-color: $secondBgColor;

  .media-custom {
    flex-direction: column;

    .media-description {
      text-align: center;
      width: 100%;
      max-width: 735px;
      flex-direction: column;

      span {
        font-size: $headerFontSize;
        text-transform: uppercase;
        color: #999999;
        letter-spacing: 1.3px;
        font-weight: $fontBold;
      }
      h2 {
        margin-top: 1.875rem;
      }
      p {
        margin-top: 1.375rem;
        font-size: 1.125rem;
        color: $textColor;
        line-height: 1.67;
      }
    }
    .media-content {
      margin-top: 4.25rem;
      flex-wrap: wrap;

      .media {
        width: 100%;
        max-width: 364px;
        margin-bottom: 2.875rem;

        .icon-wrapper {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: $thirdAddedColor;
          margin-right: 20px;
          justify-content: center;

          .fa-solid {
            color: $iconColor;
          }
        }
        .media-body {
          .title {
            font-size: 1.125rem;
            font-weight: $fontBold;
            margin-bottom: 10px;
          }
          p {
            font-size: $headerFontSize;
            color: $textColor;
          }
        }
      }
    }
  }
}
.purchase-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  .purchase {
    justify-content: center;
    gap: 50px;

    p {
      font-size: 1.25rem;
      color: $titleColor;
      margin-bottom: 0;
    }
  }
}
