$mainBgColor: #ffffff;
$secondBgColor: #f5f5f5;

$firstAdditionalColor: #453951;
$secondAdditionalColor: #2a272e;
$thirdAdditionalColor: #ea623d;

$titleColor: #333333;
$textColor: #666666;
$secondTextColor: #ffffff;
$footerParagraphColor: #cccccc;

$breadcrumb-divider: quote('/');

$additionalFontSize: 13px;
$fontRegular: 400;
$fontBold: 600;

$iconColor: #ffffff;

$sectionPadding: 3.5rem;

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $mainBgColor;
}

p {
  margin-bottom: 0;
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: unset;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.title {
  display: inline-block;
  line-height: 1;
  font-weight: $fontRegular;
  letter-spacing: normal;
  margin-bottom: 0;
  font-size: 2rem;
  color: $titleColor;
}

.flex-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-custom {
  padding: 20px 30px;
  border: 2px solid #cccccc;
  color: $titleColor;
  margin: 0;
  border-radius: 3px;
}

.font-custom {
  text-transform: uppercase;
  font-size: $additionalFontSize;
  letter-spacing: 1.3px;
  font-weight: $fontBold;
}

.site-header {
  .navbar {
    padding: 0;

    .custom-navbar-brand {
      margin: 1.5rem 0;
    }
    .custom-toggler {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(234, 98, 61)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    .custom-navbar {
      justify-content: flex-end;
      .navbar-nav {
        align-items: center;
        text-transform: uppercase;

        .dropdown {
          a {
            font-weight: $fontBold;
            font-size: $additionalFontSize;
          }
        }
        .form-inline {
          padding: 0 0 0.5rem 0;
          input,
          button {
            display: none;
            font-size: $additionalFontSize;
            font-weight: $fontBold;
            text-transform: uppercase;
          }
          button {
            color: $thirdAdditionalColor;
            border-color: $thirdAdditionalColor;

            &:hover {
              color: $secondTextColor;
              background-color: $thirdAdditionalColor;
            }
          }
        }
        .fas {
          color: $textColor;
          padding: 0 0 0.5rem 0;
          margin-left: 1rem;

          &:hover {
            color: $titleColor;
            cursor: pointer;
          }
        }
      }
      .navbar-nav > {
        li > {
          a {
            color: $textColor;
            font-weight: $fontBold;
            font-size: $additionalFontSize;
            margin-right: 1rem;
            margin-left: 1rem;
            padding: 0 0 0.5rem 0;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              border-radius: 2px;
              background-color: $thirdAdditionalColor;
              bottom: 0;
              left: 0;
              transform-origin: right;
              transform: scaleX(0);
              transition: transform 0.3s ease-in-out;
            }
            &:hover {
              color: $titleColor;

              &:before {
                transform-origin: left;
                transform: scaleX(1);
              }
            }
          }
          .active {
            color: $titleColor;
          }
        }
      }
    }
  }
  .breadcrumbs-wrapper {
    background-color: $firstAdditionalColor;

    #breadcrumbs-custom {
      .title {
        color: $secondTextColor;
        margin-top: 2.25rem;
        margin-bottom: 2.5rem;
      }
      .breadcrumb-custom {
        margin-bottom: 0;
        padding-right: 0;
        background-color: unset;

        .breadcrumb-item {
          color: $secondTextColor;
          font-size: $additionalFontSize;
          padding-left: 0.25rem;
        }
        .breadcrumb-item + .active {
          color: rgba($secondTextColor, 0.4);

          &:before {
            color: rgba($secondTextColor, 0.4);
            padding-right: 0.25rem;
          }
        }
      }
    }
  }
}
.board-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: calc(#{$sectionPadding} - 2.25rem);

  .board {
    align-items: flex-start;

    &-image {
      width: 100%;
      max-width: 570px;

      img {
        width: 100%;
        height: auto;
      }
    }
    &-text {
      width: 100%;
      max-width: 570px;

      .title {
        font-size: 1.125rem;
        font-weight: $fontBold;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 0.875rem;
        color: $textColor;
        line-height: 1.57;
      }
    }
  }
}
.media-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: calc(#{$sectionPadding} - 2.125rem);
  margin-top: $sectionPadding;
  background-color: $secondBgColor;

  .media-custom {
    flex-direction: column;

    .media-description {
      text-align: center;
      width: 100%;
      max-width: 735px;
      flex-direction: column;

      span {
        color: #999999;
      }
      h2 {
        margin-top: 1.875rem;
      }
      p {
        margin-top: 1.375rem;
        font-size: 1.125rem;
        color: $textColor;
        line-height: 1.67;
      }
    }
    .media-content {
      margin-top: 4.25rem;
      flex-wrap: wrap;

      .media {
        width: 100%;
        max-width: 364px;
        margin-bottom: 2.875rem;

        .icon-wrapper {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: $thirdAdditionalColor;
          margin-right: 20px;
          justify-content: center;

          .fa-solid {
            color: $iconColor;
          }
        }
        .media-body {
          .title {
            font-size: 1.125rem;
            font-weight: $fontBold;
            margin-bottom: 10px;
          }
          p {
            font-size: $additionalFontSize;
            color: $textColor;
          }
        }
      }
    }
  }
}
.purchase-wrapper {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;

  .purchase {
    justify-content: center;
    gap: 3.125rem;

    p {
      font-size: 1.25rem;
      color: $titleColor;
    }

    .btn-custom {
      &:hover {
        animation: bounce 0.8s;
      }
    }
  }
}
.site-footer {
  position: relative;

  .follow-us-wrapper {
    background-color: $firstAdditionalColor;
    padding-top: calc(#{$sectionPadding} - 2.25rem);
    padding-bottom: calc(#{$sectionPadding} - 2.25rem);

    p {
      color: rgba($secondTextColor, 0.4);
    }

    .follow-us {
      .social-media {
        justify-content: flex-start;
        gap: 1.875rem;

        .social-media-icons {
          justify-content: flex-start;
          gap: 1rem;
          .social-media-icon {
            position: relative;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: rgba($iconColor, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: 0.4s;

            &:hover {
              background-color: $thirdAdditionalColor;
              transition: 0.4s;
            }

            .fa-brands {
              color: $iconColor;
            }
          }
        }
      }
      .newsletter {
        justify-content: flex-end;
        gap: 1.875rem;

        &-form {
          justify-content: flex-end;
          gap: 0.625rem;

          input {
            width: 100%;
            max-width: 254px;
            border: solid 2px rgba($secondTextColor, 0.4);
            background-color: transparent;
            border-radius: 3px;
            padding: 10px 15px;
            color: rgba($secondTextColor, 0.4);
          }
          .btn-custom {
            padding: 15px 19px;
            background-color: $thirdAdditionalColor;
            color: $secondTextColor;
            border: none;
            position: relative;

            span {
              display: block;
              transition: all 300ms ease;
            }

            &:before {
              font-family: FontAwesome;
              content: '\f1d8';
              position: absolute;
              top: 17px;
              left: 0px;
              transition: all 300ms ease;
              color: transparent;
            }

            &:hover {
              &:before {
                left: 9px;
                color: $secondTextColor;
              }
              span {
                transform: translateX(10px);
                transition: all 300ms ease;
              }
            }
          }
        }
      }
    }
  }
  .data-wrapper {
    background-color: $secondAdditionalColor;
    padding-top: $sectionPadding;
    padding-bottom: calc(#{$sectionPadding} + 2rem);

    .data {
      align-items: flex-start;
      gap: 2rem;

      .footer_col {
        flex-grow: 1;
        flex-basis: 0;

        h4 {
          color: rgba($secondTextColor, 0.4);
          margin-bottom: 1.875rem;
        }
        a {
          color: $thirdAdditionalColor;
          text-decoration: none;
        }
        p {
          font-size: 0.875rem;
          line-height: 1.57;
          color: $footerParagraphColor;
        }
        &:first-child {
          opacity: 0.2;
          color: $secondTextColor;

          img {
            margin-bottom: 1.875rem;
          }
          p {
            color: $secondTextColor;
            line-height: 2.14;
          }
        }
        .tweet-date {
          text-transform: uppercase;
          font-size: 11px;
          line-height: 2.09;
          letter-spacing: 1.1px;
          color: #545158;
        }
      }
      .footer_col + address {
        a {
          font-size: 1.275rem;
          font-weight: $fontBold;
        }
        p {
          &:first-of-type {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
      .photostream-container {
        justify-content: flex-start;
        gap: 15px;
      }
    }
  }
  .to-top {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: $thirdAdditionalColor;
    justify-content: center;
    position: absolute;
    bottom: 1.875rem;
    right: 1.875rem;
    opacity: 0.6;

    &:hover {
      cursor: pointer;
    }

    .arrow {
      color: $iconColor;
    }
  }
}
@media (max-width: 1199.98px) {
  .container,
  .navbar-wrapper,
  .breadcrumbs-wrapper,
  .board-wrapper,
  .media-wrapper,
  .purchase-wrapper,
  .follow-us-wrapper,
  .data-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .board-wrapper {
    .board {
      flex-direction: column;
      align-items: center;

      &-image {
        margin-bottom: 1.5rem;
      }
      &-text {
        text-align: center;
      }
    }
  }
  .media-wrapper .media-custom .media-content .media {
    max-width: 300px;
  }
}
@media (max-width: 991.98px) {
  .site-header {
    .navbar-wrapper {
      .navbar {
        .custom-navbar {
          .search-icon {
            margin-left: 0;
          }
        }
      }
    }
  }
  .site-footer {
    .follow-us-wrapper {
      .follow-us {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
      }
    }
  }
}
@media (max-width: 767.98px) {
  html{
    font-size: 15px;
  }
  .media-wrapper {
    .media-custom {
      .media-content {
        justify-content: center;

        .media {
          max-width: 364px;
        }
      }
    }
  }
  .site-footer {
    .follow-us-wrapper {
      .follow-us {
        .social-media {
          flex-direction: column;
          gap: 1.5rem;
        }
      }
      .newsletter {
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}
@media (max-width: 575.98px) {

}
